@import '../base/colors';
@import '../base/variables';

/*****BASE styles*****/
a {
	color: $primaryLinkColor;
}

/***** Header Start *****/
header {
	color: $primaryColor;
	font-family: $primaryFontFamilyHeading;
	font-size: $designDimensionMD;
	text-transform: uppercase;
}
/***** Header End *****/

/***** Content Start *****/
.content {
	width: ($fullPercentage - 10);
	margin: 0 auto;
}
.sub-text {
	width: $fullPercentage;
	margin: 30px auto;
	text-align: justify;
	color: $primaryTextColor;
	font-size: ($designDimensionSM + 0.2);
}
/***** Content End *****/

/***** Card Start *****/
.card {
	max-width: 300px;

	.card-image img {
		border-radius: $designDimensionBase $designDimensionBase 0 0;
	}

	.card-content {
		border-radius: 0 0 $designDimensionBase $designDimensionBase;
		background: $colorWhite;
	}
}
/***** Card End *****/

/***** Empty Start *****/
.empty-state {
	text-align: center;
	padding: 10px 0px 25px 0px;
}
.empty-state img {
	width: 25%;
}
.loader img {
	width: 10%;
}
.empty-state h2 {
	font-size: ($designDimensionSM + 0.5);
}
/***** Empty End *****/

@media only screen and (max-width: 768px) {
	.empty-state img {
		width: 50%;
	}
	.loader img {
		width: 10%;
	}
}

@media only screen and (max-width: 480px) {
	header img {
		max-height: 70%;
	}
	.sub-text {
		font-size: $designDimensionSM;
	}
	.empty-state h2 {
		font-size: $designDimensionSM;
	}
}
