.u-text-uppercase {
	text-transform: $textUppercase !important;
}
.u-text-normal {
	font-weight: $textNormal !important;
}
.u-text-bold {
	font-weight: $textBold !important;
}

.u-text-underline {
	text-decoration: $textUnderline !important;
}

.u-text-underline-none {
	text-decoration: $none !important;
}

.u-text-break-all {
	word-break: break-all !important;
}

.u-text-center {
	text-align: center !important;
}
.u-text-right {
	text-align: right !important;
}
