.u-cursor-pointer {
	cursor: $cursorPointer !important;
}

.u-link-reset {
	//	color: $inherit !important;
	text-decoration: $none !important;
}

.u-position-sticky {
	position: -webkit-sticky;
	position: $positionSticky;
	top: $numberZero;
	z-index: $zIndexBase;
}
